@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


/* colors*/
:root{
--primary-01: #a3cfbb;
--primary-02: #479f76;
--primary-03: #198754;
--primary-04:#0f5132;

--white:#fff;
 --gray-00:#e6e6e6;
 --gray-01:#cccccc;
 --gray-02: #b3b3b3;
 --gray-03:#999999;
 --gray-04: #808080;
 --gray-05: #666666;
 --gray-06: #4d4d4d;
 --black: #191919;
}

/* space */
:root{
    --space-unit: 1rem;

    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));                 
    --space-sm:   calc(0.75 * var(--space-unit));              
    --space-md:   calc(1.25 * var(--space-unit));             
    --space-lg:   calc(2 * var(--space-unit));                  
    --space-xlg:   calc(3.25 * var(--space-unit));             
    --space-xxlg:  calc(5.25 * var(--space-unit));  

}

/* type */

:root{
--font-family:'Montserrat', sans-serif;

--font-weight-light:400;
--font-weight-normal:500;
--font-weight-bold:600;


--text-base-size: 1rem;

--text-scale-ratio: 1.25;

 --text-xs: calc(var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio)));

    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));

    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xlg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxlg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

/* misc*/

:root{
--border-radius-sm:10px;
--border-radius-md:25px;
--border-radius-lg:50px;
--border-line:1px;
}