.button{
    display: inline-block;
    font-weight: inherit;
    border: var(--border-line) solid transparent;
    padding: var(--space-sm) var(--space-lg);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-sm);
    border-radius: var(--border-radius-lg);
}
.primary{
    color:var(--white);
    background-color:var(--primary-03);
}
.primary:hover{
    background-color:var(--primary-04);
}

.primary:active{
    background-color:var(--primary-02);

}

.primary:focus{
    background-color:var(--primary-04);
    box-shadow: 0 0 0 var(--border-line) var(--white),
    0 0 0 calc(var(--border-line) * 2) var(--primary-04);
    outline: none;
}

.fullwidth{
  width:80%;
  margin:0 auto;
}

.tag{
    color:var(--black);
    background-color:var(--gray-00);
    border: var(--border-line) solid var(--gray-02);

}
.tag:hover{
    background-color:var(--gray-01);
    border: var(--border-line) solid var(--gray-02);

}

.tag:active{
    background-color:var(--white);
    border: var(--border-line) solid var(--gray-02);
}

.tag:focus{
    background-color:var(--gray-01);
    box-shadow: 0 0 0 var(--border-line) var(--white),
    0 0 0 calc(var(--border-line) * 2) var(--gray-01);
    outline: none;
}
