.reportButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--gray-00);
    width:80%;
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--border-radius-sm);
    margin: 0 auto;

}
.reportButton:hover{
    background-color:var(--gray-01);
    border: var(--border-line) solid var(--gray-02);

}

.reportButton:active{
    background-color:var(--white);
    border: var(--border-line) solid var(--gray-02);
}

.reportButton:focus{
    background-color:var(--gray-01);
    box-shadow: 0 0 0 var(--border-line) var(--white),
    0 0 0 calc(var(--border-line) * 2) var(--gray-01);
    outline: none;
}
.reportText{
    background-color:var(--gray-00);
    width:80%;
    padding: var(--space-md) var(--space-lg);
    margin: 0 auto;
}
.report{
    margin: 0 auto var(--space-sm);
}

.active .reportButton{
    
}